In [1]:
import pandas as pd
import numpy as np

In [8]:
education_data = pd.read_csv('2015_16_Districtwise.csv')
education_metadata= pd.read_csv('2015_16_Districtwise_Metadata.csv')

In [10]:
education_data.head()

,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,P_URB_POP,POPULATION_0_6,GROWTHRATE,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,11.33,197001.90,34.62,...,21322,26,2594,3489,5315,27,62,23,852,239
1,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,17.19,161871.18,20.34,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,98.73,155798.45,23.56,...,5444,31,408,817,3284,886,11,0,2873,40
3,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,11.74,150755.79,21.18,...,12469,18,857,2290,3837,119,45,8,1035,325
4,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,13.80,97651.28,29.18,...,7408,17,855,1688,2584,151,67,5,1101,209

In [35]:
# tackling ratio of failure rates of students with disabilities vs students without disabilities

data_small = education_data.loc[:, "C1_B":"C9_GR"]
boys_all = education_data.loc[:, "C6_B":"C9_B"];
girls_all = education_data.loc[:, "C6_G":"C9_G"];
data_small.shape

(680, 54)

In [36]:
t_enrol_boys = sum(sum(boys_all.values[:,:]))
t_enrol_girls = sum(sum(girls_all.values[:,:]))

print(t_enrol_girls)

42612270